
<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#"><span class="bg-gray-200 py-2 px-4 rounded-md my-2">
                        {{ project.name }} Materials Order Index
                        </span>
                     </a></li>
                    
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#new-order" uk-toggle>New Order</a></li>
                   
                </ul>

            </div>

        </div>
    </div>
</nav>
<div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match">
        <div>
            
            {% if project.orders %}
            <div id="orders-index" class="text-xs">
               {% include '/project/purchasing/ordersIndex.html' %}
            </div>
                
            {% else %}
            <p class="text-md text-center text-gray-500 font-fine">You Havent created Any Purchase Orders as yet </p>
            {% endif %}
        </div>

    </div>
    <div id="purchaseorder"></div>
</div>



<div id="new-order" uk-modal>
    <div class="uk-modal-dialog uk-modal-body rounded">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="text-sm text-center text-gray-800 font-semibold">New Purchase Order</h2>
      
        <form class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1">
                <input class="uk-input" type="text" name="title" placeholder="Title" aria-label="50">
            </div>
            <div class="uk-width-1-1">
                <input class="uk-input" type="text" name="site" placeholder="Site Name" value="{{ project.name}}" aria-label="50">
            </div>
            <div class="uk-width-1-1">
                <input class="uk-input" type="text" name="location" placeholder="Site Location" value="{{ project.location}}">
            </div>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="date" name="date" placeholder="Order Date">
            </div>
            <div class="uk-width-1-4@s">
                <button class="btn btn-secondary btn-small" hx-post="/new_purchaseorder/{{project._id}}"
                        hx-target="#purchaseorder">Create Order</button>
            </div>
           
        </form>
        
    </div>
</div>
<p class="text-xs bg-blue-500 py-2 px-2 rounded">{{ project }}</p>