<h1 class="text-md text-center font-semibold">{{ order.title }}</h1>
<div class="uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
       

            <div class="flex flex-col text-xs text-left">
                <h3>Order Id {{ order.id }}</h3>
                <h3>Site: {{ order.site }}</h3>
                <h3>Location {{ order.location }}</h3>
                <h3>Order Date {{ order.date }}</h3>
            </div>
            
       
    </div>
    <div class="uk-width-auto@m">
        <div class="flex flex-col space-y-2">
            {% if order.resolved %}
            <div class="flex flex-row text-xs">
               
                <form>

                    <label>
                        <span class="mx-2">Open order </span>
                <input type="checkbox" class="uk-checkbox" name="resolve" 
                    uk-tooltip="Open Purchase Order for editing "
                    hx-post="/resolve_purchaseorder/{{project._id}}/{{order.id}}/open"
                    hx-target="#purchaseorder"
                    hx-trigger="change"
                    />
                    </label>
                </form>
            </div>
            {% else %}
            <div class="flex flex-row text-xs">
                
                <form>
                    <label>
                        <span class="mx-2">Close order</span>
            <input type="checkbox"class="uk-checkbox" name="resolve" checked 
                uk-tooltip="Resolve this Purchase Order"
                hx-post="/resolve_purchaseorder/{{project._id}}/{{order.id}}/close"
                hx-target="#purchaseorder"
                hx-trigger="change"
            /></label>
            </form>
            </div>
            {% endif %}
           
            <a class="uk-link text-sm" href="#"
                uk-tooltip="Print Purchase order as PDF file"
                hx-get="/print_purchaseorder/{{project._id}}/{{order.id}}"
                hx-target="#order-print-handle"
            
            >Print Order</a>
        </div>
    </div>
   
    
</div>
<div id="order-items" class="text-xs mx-2 my-2">
   {% include '/project/purchasing/orderItemsIndex.html' %}
    
</div>


<div id="add-orderitem" uk-modal>
    <div class="uk-modal-dialog uk-modal-body rounded">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="text-sm text-center text-gray-800 font-semibold">Add item to Order {{order.id}}</h2>
        <form>
        <table class="uk-table uk-table-small">
            <thead>
                <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="uk-input" type="text" name="description" placeholder="Description">
                    </td>
                    <td><input class="uk-input" type="text" name="unit" placeholder="Unit"></td>
                    <td><input class="uk-input" type="number" step="0.01" name="quantity" placeholder="Amount"></td>
                    <td><button class="btn btn-secondary btn-small" hx-post="/add_orderitem/{{project._id}}/{{order.id}}"
                        hx-target="#order-items">Add</button></td>
                </tr>

            </tbody>
        </table>
        </form>
        
    </div>
</div>