<div class="navbar">
    <div class="navbar-start">
        <span class="navbar-item" >{{ p.get('name')  }}   Rates Index</span>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" href>Filter Rates <span uk-drop-parent-icon></span></a>
        <div uk-dropdown="pos: bottom-center">
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-nav-header">Filter Rates</li>
            <li><a 
                        href="#"
                        hx-get="/project_rates_filtered/{{p._id}}_all"
                        hx-target="#project-rates-table"
                        hx-trigger="click"                                 
                        >All Categories</a>
                </li>           

                {% for item in p.categories %}
                    <li>
                        <a 
                            href="#"
                            hx-get="/project_rates_filtered/{{p._id}}_{{ item }}"
                            hx-target="#project-rates-table"
                            hx-trigger="click"                                 
                        >{{ item }}</a>
                    </li>
                {% endfor %}
           
            
            </ul>
        </div>
       
       
        <a href="#add-rate-modal" class="btn btn-primary" uk-toggle>Add Industry Rate</a>
      
    </div>
</div>

 <div class="flex flex-col">
    <div class="m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full h-screen inline-block align-middle overflow-y-auto">
        <div id="project-rates-table" class="overflow-hidden">
            <a 
                class="navbar-item" 
                href="#"
                hx-get="/print_project_rates/{{p._id}}/all"
                hx-target="#message"
                >Print Rates</a>
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                 <th scope="col" class="px-2 py-2 text-start text-xs font-medium text-gray-500 uppercase">Id</th>
                <th scope="col" class="px-2 py-2 text-start text-xs font-medium text-gray-500 uppercase">Title</th>
                <th scope="col" class="px-4 py-2 text-start text-xs font-medium text-gray-500 uppercase">Description</th>
                <th scope="col" class="px-4 py-2 text-start text-xs font-medium text-gray-500 uppercase">Category</th>
                <th scope="col" class="px-4 py-2 text-start text-xs font-medium text-gray-500 uppercase">Metric</th>
                <th scope="col" class="px-4 py-2 text-end text-xs font-medium text-gray-500 uppercase">Imperial</th>
                <th></th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
   
{% for rate in p.get('rates', []) %}
    <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">      
    <td class="px-2 py-2 whitespace-wrap text-xs font-medium text-gray-800 dark:text-gray-200 w-32">{{ rate.get('_id')  }} </td>
        
    <td class="px-2 py-2 whitespace-wrap text-sm font-medium text-gray-800 dark:text-gray-200 w-32">{{ rate.get('title')  }} </td>
    <td class="px-4 py-2 whitespace-wrap text-sm text-gray-800 dark:text-gray-200">{{ rate.get('description')  }} </td>
    <td class="px-4 py-2 whitespace-wrap text-sm text-gray-800 dark:text-gray-200">{{ rate.get('category')  }} </td>
    <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ rate.metric.price | to_dollars  }}  /{{ rate.metric.unit }} </td>
    <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ rate.imperial.price | to_dollars  }}  /{{ rate.imperial.unit }} </td>
    <td class="px-4 py-2 whitespace-nowrap text-end text-sm font-medium">
        <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Delete</button>
    </td>
    </tr>
{% endfor %}

                </tbody>
            </table></div></div></div></div>



<!-- This is the modal -->
<div id="add-rate-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <a class="navbar-item" href>Filter Rates <span uk-drop-parent-icon></span></a>
        <div uk-dropdown="pos: bottom-center">
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-nav-header">Filter Rates</li>
            <li><a 
                        href="#"
                        hx-get="/add_industry_rates/{{p._id}}_all"
                        hx-target="#industry-rates"
                        hx-trigger="click"                                 
                        >All Categories</a>
                </li> 
                <li></li>          

                {% for item in p.categories %}
                    <li>
                        <a 
                            href="#"
                            hx-get="/add_industry_rates/{{p._id}}_{{ item }}"
                            hx-target="#industry-rates"
                            hx-trigger="click"                                 
                        >{{ item }}</a>
                    </li>
                {% endfor %}
           
            
            </ul>
        </div>
        <p class="text-xs">Add Industry Rate to Project</p>
        <div class="bg-gray-300 text-gray-900 p-1 rounded-md">
           
            <form prevent-default>
                <div id="industry-rates" class="uk-overflow-auto">
             <table class="uk-table uk-table-divider">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                {% for rate in industry_rates %}       
                    <tr>
                        <td>
                        
                        <input 
                            type="radio" 
                            class="radio radio-bordered-primary"
                            value="{{ rate.get('_id') }} " 
                            name="rate" 
                            hx-post="/add_industry_rate/{{ p.get('_id') }} " 
                            hx-target="#project_properties" 
                        
                            >
                        </td>
                        <td>{{  rate.get("_id")  }} </td>
                        <td> {{  rate.get("title")  }} </td>
                        <td> {{  rate.get("description")  }} </td>
                        <td> {{  rate.get("category")  }} </td>

                    </tr>
                {% endfor %}                
                </tbody>
            </table>
        </div>
                
    </form>
</div>
      
    </div>
</div>

<script>
    var prUrl = "/print_project_rates/{{p._id}}_all"
    function setRateFilter(){
        let rateFilter = document.getElementById("rate-filter").innerHTML
        
        prUrl = "/print_project_rates/{{p._id}}_" + rateFilter
    }
    
</script>