{% if filter %}
<div>
    <div class="flex flex-row bg-gray-300 py-3 px-4 items-inline text-center rounded relative">
    
        <p class="mx-5"> {{filter}} Suppliers Index</p>   
                   
        <span class="uk-badge mx-5">{{ filtered | length }}</span> 
        <span class="cursor-pointer" uk-toggle="target: #new-supplier-modal" uk-icon="plus"></span>  
        <a href class="absolute right-0">Filter <span uk-drop-parent-icon></span></a>
        <div uk-dropdown="pos: bottom-center">
            <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-nav-header">Filter By Location</li>
                <li>
                    <a href="#"
                        hx-get="/suppliers_html_index/all"
                        hx-target="#dash-content-pane"
                        hx-trigger="click"                                 
                    >
                        All Parishes
                    </a>
                </li>
                {% for item in locations %}
                    <li><a href="#"
                        hx-get="/suppliers_html_index/{{item}}"
                        hx-target="#dash-content-pane"
                        hx-trigger="click"                                 
                        >{{ item }}</a>
                    </li>
                {% endfor %}
             
            </ul>
        </div>
    </div>
   
    <ul class="uk-list uk-list-striped h-96 p-2 overflow-y-auto">
        {% for supplier in filtered %}
        <li>
            <div class="flex flex-col text-sm bg-gray-300 py-2 px-3 my-2 border rounded cursor-pointer hover:bg-gray-100"
                hx-get="/supplier_html/{{supplier.get('_id')}}"
                hx-target="#dash-content-pane"
                hx-trigger="click"
            >
            <h1>{{ supplier.get('_id')}} <span class="mx-2">{{ supplier.get('name') }}</span></h1>
            <span 
                class="inline-flex items-center gap-x-1.5 py-1 px-2 rounded-full text-xs w-auto max-w-48 font-medium bg-blue-300 text-gray-600"
                >{{ supplier.get("address").get("town") }}|{{ supplier.get("address").get("city_parish") }}
            </span></div>
        </li>  
        {% endfor %}           
   </ul>
</div> 
{% else %}

<div>
<div class="flex flex-row bg-gray-300 py-3 px-4 items-inline text-center rounded relative">
   
   <p class="mx-5">Suppliers Index</>                
    <span class="uk-badge mx-5">{{ suppliers | length }}</span> 
    <span class="cursor-pointer" uk-toggle="target: #new-supplier-modal" uk-icon="plus"></span>
    <a href class="absolute right-0">Filter <span uk-drop-parent-icon></span></a>
    <div uk-dropdown="pos: bottom-center">
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-nav-header">Filter By Location</li>
            <li>
                <a href="#"
                    hx-get="/suppliers_html_index/all"
                    hx-target="#dash-content-pane"
                    hx-trigger="click"                                 
                >
                    All Parishes
                </a>
            </li>
        
            {% for item in locations %}
                <li><a href="#"
                    hx-get="/suppliers_html_index/{{ item }}"
                    hx-target="#dash-content-pane"
                    hx-trigger="click"                                 
                    >{{ item }}</a>
                </li>
            {% endfor %} 
        </ul>
    </div>
    </div>
    <div id="suppliers-index">
        <ul class="uk-list uk-list-striped h-96 p-2 overflow-y-auto">
            {% for supplier in suppliers %}
            <li>
                <div class="flex flex-col text-sm bg-gray-300 py-2 px-3 my-2 border rounded cursor-pointer hover:bg-gray-100"
                    hx-get="/supplier_html/{{ supplier.get('_id') }}"
                    hx-target="#dash-content-pane"
                    hx-trigger="click"
                >
                <h1>{{ supplier.get('_id') }} <span class="mx-2">{{ supplier.get('name') }}</span></h1>
                <span 
                    class="inline-flex items-center gap-x-1.5 py-1 px-2 rounded-full text-xs w-auto max-w-48 font-medium bg-blue-300 text-gray-600"
                    >{{ supplier.get("address").get("town") }}|{{ supplier.get("address").get("city_parish") }}
                </span></div>
            </li>             
            {% endfor %}
        </ul>
    </div>
</div> 
{% endif %}   
                    <!-- modal -->
    <div id="new-supplier-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            {% include '/supplier/newSupplier.html' %}
          
        </div>
        
    </div>



<p class="text-xs">supplier/suppliersIndex.html</p>