<form class="uk-form-stacked">
    <div class="uk-margin">
       <label class="uk-form-label" for="form-stacked-text">Invoice No.</label>
       <div class="uk-form-controls">
           <input id="invoice_num" class="uk-input" id="form-stacked-text" type="text" placeholder="Invoice Number" name="invoice_no" value="{{inv_no}}">
       </div>
    </div>
    <div class="uk-margin">
       <label class="uk-form-label" for="form-stacked-text">Item No.</label>
       <div class="uk-form-controls">
           <input class="uk-input" id="form-stacked-text" type="number" placeholder="Invoice Item Number" name="item_no" value="{{inv_items}}">
       </div>
   </div>
   <div class="uk-margin">
       <label class="uk-form-label" for="form-stacked-text">Item Name</label>
       <div class="uk-form-controls">
           <input class="uk-input" id="form-stacked-text" type="text" placeholder="Item Name" name="item_name">
       </div>
   </div>
   <div class="uk-margin">
       <label class="uk-form-label" for="form-stacked-text">Description</label>
       <div class="uk-form-controls">
           <input class="uk-input" id="form-stacked-text" type="text" placeholder="Item Description" name="description">
       </div>
   </div>
   <div class="uk-margin">
       <label class="uk-form-label" for="form-stacked-text">Quantity</label>
       <div class="uk-form-controls">
           <input class="uk-input" id="form-stacked-text" type="number" step="0.1 placeholder="Item Quantity" name="quantity">
       </div>
   </div>
   <div class="uk-margin">
       <label class="uk-form-label" for="form-stacked-text">Unit</label>
       <div class="uk-form-controls">
           <input class="uk-input" id="form-stacked-text" type="text" placeholder="Unit" name="unit">
       </div>
   </div>
   <div class="uk-margin">
       <label class="uk-form-label" for="form-stacked-text">Price</label>
       <div class="uk-form-controls">
           <input class="uk-input" id="form-stacked-text" type="number" step="0.01 placeholder="Item Price" name="price">
       </div>
   </div>
   <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <input class="uk-button uk-button-primary uk-modal-close" type="submit" value="Add Item"
        hx-post="/add_invoice_item"
        hx-target="#invoice-items"                        
        >
    </p>       
   
   </form>
   <p class="text-xs">{{ mat_index }}</p>
                       
                       
                       
