<table class="uk-table uk-table-small">
    <caption>{{id}} Days work Index </caption>
    <thead>
        <tr>
            <th>Date</th>    
            <th>Project</th>                        
            <th>Time Start</th>
            <th>Draw Off</th>
            <th>Description</th>
            <th>Resolved</th>
        </tr>
    </thead>
    <tbody>
        {% for item in  employee.get('days') | reverse %}
        <tr>
            <td>{{item.date}}</td>  
            <td>{{item.project_id}}</td>                        
            <td>{{item.start}}</td>
            <td>{{item.end}}</td>
            <td>{{item.description}}</td>
            <td>
                {% if item.payment.paid %}
                <span>{{item.payment.amount | to_dollars }}</span>
                {% else %}
                <span>{{ item.payment.paid }}</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
