<div class="text-xl font-semibold bg-gray-300 mb-1">Beam Estimator</div>
                        <section class="bg-gray-2 rounded-xl">
                            <div class="p-2 shadow-lg">
                                <form 
                                    class="space-y-4" 
                                   
                                >
                                    <div class="w-full">
                                        <label class="text-xs font-semibold" for="tag">Tag</label>
                                        <input class="input input-solid max-w-full" placeholder="Beam Tag" type="text" id="tag" name="tag" />
                                    </div>
                                     <div class="w-full">
                                        <label class="text-xs font-semibold" for="grid">Grid Label</label>
                                        <input class="input input-solid max-w-full" placeholder="A1" type="text" id="grid" name="grid" />
                                    </div>
                                    
                                    <div class="w-full">
                                        <label class="text-xs font-semibold" for="type">Type</label>
                                        <input class="input input-solid max-w-full" placeholder="Concrete Type" type="text" id="tconcrete" name="concrete" />
                                    </div>


                                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                        <div>
                                            <label class="text-xs font-semibold" for="unit">Unit</label>
                                            <input class="input input-solid" placeholder="Unit of measurement" type="text" id="unit" name="unit" />
                                        </div>
                                        <div></div>
                                            <label class="text-xs font-semibold" for="width">Width</label>
                                            <input class="input input-solid" placeholder="Width of the Beam" type="number" step="0.1" id="width" name="width" />
                                        </div>
                                        <div>
                                            <label class="text-xs font-semibold" for="depth">Depth</label>
                                            <input class="input input-solid" placeholder="Depth of the Beam" type="number" step="0.1" id="depth" name="depth" />
                                        </div>
                                        

                                        <div>
                                            <label class="text-xs font-semibold" for="length">Length</label>
                                            <input class="input input-solid" placeholder="Length of the Beam" type="number" step="0.1" id="length" name="length" />
                                       </div>
                                        <div>
                                            <label class="text-xs font-semibold" for="amount">Amount</label>
                                            <input class="input input-solid" placeholder="Amount" type="number" step="0.1" id="amount" name="amount" />
                                       </div>
                                    </div>

                                    <div class="w-full">
                                        <label class="text-xs font-semibold" for="notes">Notes</label>

                                        <textarea class="textarea textarea-solid max-w-full" placeholder="Notes" rows="3" id="notes" name="notes"></textarea>
                                    </div>

                                    <div class="mt-4">
                                        <button 
                                        type="button" 
                                        class="rounded-lg btn btn-primary btn-block"
                                        hx-post="/beam"
                                        hx-target="#e-content"
                                        >Send Enquiry</button>
                                    </div>
                                </form>
                            </div>
                            </section>