{% extends 'temp/general_template.html' %}

{% block content %}

<p class="text-lg font-semibold text-center">Site Plan Peer Client </p>
<div class="uk-child-width-expand@s bg-blue-200" uk-grid>
    <div class="uk-grid-item-match">
        <div>
            <p class="text-md text-center">Connected Hosts</p>
            <ul>
                {% for ip in device_list %}

                <li><p class="text-md text-center">{{ip.title}}</p></li>
                <li><p class="text-xs text-left">Last searh date: {{ip.id | convert_timestamp}}</p></li>
                <li>
                    <ul class="text-xs text-left">
                    {% for device in ip.peers %}
                    <li><div class="flex flex-col">
                        <p class="my-2">
                        <span class="uk-badge mx-2">Device Ip.</span> 
                        <span id="device-ip" class="font-semibold">{{device[0]}}</span> 
                        <span class="uk-badge mx-2">Peer to </span> 
                        <span id="device-peer" class="font-bold">{{ device[1]}}</span>
                        </p>
                        <form class="uk-form-horizontal uk-margin-small">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Request</label>
                                <div class="uk-form-controls">
                                    <input type="text" name="message" class="uk-input uk-form-width-large uk-form-small rounded">
                                    <input type="text" name="peer" value="{{device[1]}}" class="hidden">
                                    <button class="uk-button uk-button-primary uk-button-small rounded"
                                    hx-post="/peer"
                                    hx-target="#peer"
                                    >Connect</button>                            
                                </div>
                               
                            </div>
                           
                        </form>
                    </li>

                    {% endfor %}
                    </ul>

                {% endfor %}
            </ul>
        </div>
   
     </div>
    <div>
        <p class="text-md text-center">Data Exchange</p>
        <div id="peer"></div>
    </div>
</div>




</div>
 
{% endblock content %}
