{% extends 'temp/general_template.html' %}

{% block content %}

<p class="text-lg font-semibold text-center">Site Plan Peer Client </p>
<div class="flex flex-row bg-blue-400">
    <div class="flex flex-col">
        <form class="uk-form-horizontal">
            <div>
                <label class="uk-form-label">Message Request: </label>
                <div class="uk-form-controls">
                    <input type="text" name="message" class="uk-input">
                    <button class="uk-button uk-button-primary uk-button-small rounded"
                    hx-post="/peer"
                    hx-target="#peer"
                    >Connect</button>
                </div>
            </div>
           
        </form>
        <div>
            <p class="text-md text-center">Connected Hosts</p>
            <ul>
                {% for ip in device_list %}

                <li><p class="text-md text-center">{{ip.title}}</p></li>
                <li><p class="text-xs text-left">Last searh date: {{ip.id | convert_timestamp}}</p></li>
                <li>
                    <ul>
                    {% for device in ip.peers %}
                    <li>
                        <span class="uk-badge mx-2">Device Ip.</span> 
                        <span>{{device[0]}}</span> 
                        Peer Connection ......... 
                        <span>{{ device[1]}}</span>
                    </li>

                    {% endfor %}
                    </ul>

                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="peer" class="flex flex-col"></div>
    


</div>
 
{% endblock content %}
