{% extends 'temp/general_template.html' %}

{% block content %}

<p class="text-lg font-semibold text-center">Site Plan Peer Client </p>
<div class="uk-child-width-expand@s bg-blue-200" uk-grid>
    <div class="uk-grid-item-match">
        <div>
            <p class="text-md text-center">Connected Hosts</p>
            <ul>
                {% for ip in device_list %}

                <li><p class="text-md text-center">{{ip.title}}</p></li>
                <li><p class="text-xs text-left">Last searh date: {{ip.id | convert_timestamp}}</p></li>
                <li>
                    <ul>
                    {% for device in ip.peers %}
                    <li>
                        <span class="uk-badge mx-2">Device Ip.</span> 
                        <span>{{device[0]}}</span> 
                        Peer Connection ......... 
                        <span>{{ device[1]}}</span>
                        <form class="uk-form-horizontal">
                            <div>
                                <label class="uk-form-label">Message Request: 
                                <div class="uk-form-controls">
                                    <input type="text" name="message" class="uk-input">
                                    <button class="uk-button uk-button-primary uk-button-small rounded"
                                    hx-post="/peer/{{device[1]}}"
                                    hx-target="#peer"
                                    >Connect</button>
                                </label>
                                </div>
                            </div>
                           
                        </form>
                    </li>

                    {% endfor %}
                    </ul>

                {% endfor %}
            </ul>
        </div>
   
     </div>
    <div>
        <p class="text-md text-center">Data Exchange</p>
        <div id="peer"></div>
    </div>
</div>




</div>
 
{% endblock content %}
