<div class="flex flex-col bg-gray-50 text-gray-900 space-y-1.5">    
    <div class="border-b-2 border-gray-200 dark:border-gray-700 ml-5">
        <nav class="uk-navbar-container mb-0.5 flex space-x-5">
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 fade-in" 
            href="#"
            hx-get="/project_home/{{id}}"
            hx-target="#project_properties"
            hx-trigger="click"                
            >
           Home</span>
            </a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600" 
            href="#"
            hx-get="/project_account/{{id}}"
            hx-target="#project_properties"
            hx-trigger="click"                
            >
            Account
            </a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm font-medium whitespace-nowrap text-blue-600 focus:outline-none focus:text-blue-800" 
            href="#" 
            hx-get="/project_workers/{{id}}/all"
            hx-target="#project_properties"
            hx-trigger="click"
            >
            <span uk-icon="icon: users; ratio: 1"></span> Workers
            </a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
            href="#"
            hx-get="/project_jobs/{{id}}"
            hx-target="#project_properties"
            hx-trigger="click"
            >
            <span uk-icon="icon:cog; ratio: 1"></span>Jobs
            </a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
            href="#"
            hx-get="/project_days/{{id}}"
            hx-target="#project_properties"
            hx-trigger="click"
            >Daywork</a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
            href="#"
            hx-get="/project_rates/{{id}}"
            hx-target="#project_properties"
            hx-trigger="click"
            >Rates</a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
            href="#"
            hx-get="/project_inventory/{{id}}"
            hx-target="#project_properties"
            hx-trigger="click"
            >Inventory</a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
            href="#"
             hx-get="/purchaseorders/{{id}}"
            hx-target="#project_properties"
            hx-trigger="click"
            ><span uk-icon="icon: menu; ratio: 1"></span>Purchase Order</a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
            href="#"
            hx-get="/project_event/{{id}}"
            hx-target="#project_properties"
            hx-trigger="click"
            ><span uk-icon="icon: calendar; ratio: 1"></span>Events</a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
            href="#"
            hx-get="/project_state/{{id}}-state"
            hx-target="#project_properties"
            hx-trigger="click"
            >State</a>
            <a 
            class="py-4 px-1 inline-flex items-center border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
            href="#"
            hx-get="/project_activity/{{id}}"
            hx-target="#project_properties"
            hx-trigger="click"
            ><span uk-icon="list"></span>Logs</a>
        </nav>
    </div>
    <div id="project_properties">
        {% include 'project/projectHome.html' %}
    </div>
                     
</div> 