<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">{{ p.get('name') }} Workers Index</a> </li>
                    <li>
                        <a href="#">{{ filter}}</a>
                        
                    </li>
                    <li>
                        <a href><span uk-drop-parent-icon></span></a>
        <div uk-dropdown="pos: bottom-center">
        <ul class="uk-nav uk-dropdown-nav">
         <li class="uk-nav-header">Filter Workers</li>
         <li><a 
                    href="#"
                    hx-get="/project_workers/{{ id }}/all"
                    hx-target="#project_properties"
                    hx-trigger="click"                                 
                    >All Workers</a>
            </li>
        {% for item in categories %}    


     <li>
                    <a 
                    href="#"
                    hx-get="/project_workers/{{ id }}/{{ item }}"
                    hx-target="#project_properties"
                    hx-trigger="click"                                 
                    >{{ item }}</a></li>
    {% endfor %}
           
            
</ul></div>
                    
                    </li>
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a  href="#modal-container" uk-toggle>Add Worker</a></li>
                    <li>
                        <a href="#">Print Index</a>
                        
                    </li>
                    
                </ul>

            </div>

        </div>
    </div>
</nav>
{% if filter %}
<div class="flex flex-row bg-gray-300 py-3 px-4 items-inline text-center rounded">
    <span class="cursor-pointer" uk-toggle="target: #new-employee-modal"uk-icon="plus"></span>
                      
        <span class="bg-gray-50 py-1 px-2 border rounded-full mx-10">{{ filtered | length }}<span>   
          <a href><span uk-drop-parent-icon></span></a>
        <div uk-dropdown="pos: bottom-center">
        <ul class="uk-nav uk-dropdown-nav">
         <li class="uk-nav-header">Filter Workers</li>
         <li><a 
                    href="#"
                    hx-get="/project_workers/{{ id }}/all"
                    hx-target="#project_properties"
                    hx-trigger="click"                                 
                    >All Workers</a>
            </li>
            

    {% for item in categories %}
        <li>
                    <a 
                    href="#"                               
                    hx-get="/project_workers/{{ id }}/{{ item }}"
                    hx-target="#project_properties"
                    hx-trigger="click"                                 
                    >{{ item }}</a>
        </li>
    {% endfor %}
 </ul>
</div>
        </div>
    <table class="uk-table uk-table-small uk-table-hover uk-table-divider text-teal-800">
    <thead>
        <tr class="uk-text-primary">
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>OC</th>
            <th>Occupation</th>
            <th>Rating</th>
             <th>Contact</th>
             <th>Delete</th>

        </tr>
    </thead>
    <tbody> 
        {% for e in filtered %}

        <tr>
            <td 
                class="text-xs pointer"
                hx-get="/project_team/{{ e.get('id').split('-')[1] }}"
                hx-target="#project_properties"
                hx-trigger="click"
            ><img class="h-12 w-12 rounded-full" src="{{ e.get('value').get('imgurl') }}" alt="{{ e.value.oc }}"></td>
            <td
                class="pointer"
                hx-get="/project_team/{{ e.get('id').split('-')[1] }}"
                hx-target="#project_properties"
                hx-trigger="click"
            >{{ e.get('id') }}</td>
            <td
                class="pointer"
                hx-get="/project_team/{{ e.get('id').split('-')[1] }}"
                hx-target="#project_properties"
                hx-trigger="click"            
            >{{ e.get("value").get('name') }}</td>
            <td
                class="pointer"
                hx-get="/project_team/{{ e.get('id').split('-')[1] }}"
                hx-target="#project_properties"
                hx-trigger="click"            
            >{{ e.get("value").get('oc') }}</td>
            <td>{{ e.get("value").get('occupation') }}</td>    
            <td>{{ e.get("value").get('rating') }}</td>  
            <td>
            <div class="flex flex-col text-xs">
           <span>Email. {{ e.get("value").get('email') }}</span>
            <span>Mobile {{ e.get("value").get('mobile') }}<span>
            
             </div>

            </td>     
            <td 
                class="pointer"              
                hx-get="/remove_worker_from_project/{{ e.id }}"
                hx-target="#project_properties"
                hx-trigger="click"

            ><span uk-icon="icon: trash; ratio: 1" uk-margin></span></td>                
            
        </tr>             
        {% endfor %}
        <tr>
            <td>Filter</td>
            <td>{{ filter}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody></table>
{% else %}

<div class="flex flex-row bg-gray-300 py-3 px-4 items-inline text-center rounded">
    <span class="cursor-pointer" uk-toggle="target: #new-employee-modal"uk-icon="plus"></span>
        <p class="mx-5">{{ p.get('name') }} Workers Index</>                
        <span class="bg-gray-50 py-1 px-2 border rounded-full">{{ workers | length  }}<span>   
          <a href><span uk-drop-parent-icon></span></a>
        <div uk-dropdown="pos: bottom-center">
        <ul class="uk-nav uk-dropdown-nav">
         <li class="uk-nav-header">Filter Workers</li>
         <li><a 
                    href="#"
                    hx-get="/project_workers/{{ id }}/all"
                    hx-target="#project_properties"
                    hx-trigger="click"                                 
                    >All Workers</a>
            </li>
        {% for item in categories %}    


     <li>
                    <a 
                    href="#"
                    hx-get="/project_workers/{{ id }}/{{ item }}"
                    hx-target="#project_properties"
                    hx-trigger="click"                                 
                    >{{ item }}</a></li>
    {% endfor %}
           
            
</ul></div>
        </div>
    <table class="uk-table uk-table-small uk-table-hover uk-table-divider text-teal-800">
    <thead>
        <tr class="uk-text-primary">
            <th>Id</th>
            <th>Name</th>
            <th>Occupation</th>
        </tr>
    </thead>
    <tbody> 
 {% for e in workers %}
    <tr
                hx-get="/team/{{ e.get('_id').split('-')[1] }}"
                hx-target="#project_properties"
                hx-trigger="click"
                >
            <td>{{ e.get('_id') }}</td>
            <td>{{ e.get('name') }}</td>
            <td>{{ e.get('occupation') }}</td>                   
            
        </tr>             
        {% endfor %}
</tbody></table>
{% endif %}

<p class="text-xs bg-gray-500 rounded py-2 px-4">Employee categories {{ employee_categories }}</p>
<div id="modal-container" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
      
        <nav class="uk-navbar-container">
            <div class="uk-container">
                <div uk-navbar>
        
                    <div class="uk-navbar-left">
        
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="#">Company Employees Index</a> </li>
                            <li>
                                <span class="flex flex-row items-inline">
                                    <span class="mx-2">Filter</span>
                                    <a href="#">{{ filter}}</a>
                                </span>
                            </li>
                            <li>
                                <a href><span uk-drop-parent-icon></span></a>
                <div uk-dropdown="pos: bottom-center">
                <ul class="uk-nav uk-dropdown-nav">
                 <li class="uk-nav-header">Filter Employees</li>
                 <li><a 
                            href="#"
                            hx-get="/employee_pool/{{p._id}}/all"
                            hx-target="#employee-pool"
                            hx-trigger="click"                                 
                            >All Employees</a>
                    </li>
                {% for item in employee_categories %}    
        
        
             <li>
                            <a 
                            href="#"
                            hx-get="/employee_pool/{{p._id}}/{{ item }}"
                            hx-target="#employee-pool"
                            hx-trigger="click"                                 
                            >{{ item }}</a></li>
            {% endfor %}
                   
                    
        </ul></div>
                            
                            </li>
                        </ul>
        
                    </div>
        
                    <div class="uk-navbar-right">
        
                        <ul class="uk-navbar-nav">
                            
                            <li>
                                <a href="#">{{ workers | length }}</a>
                                
                            </li>
                            
                        </ul>
        
                    </div>
        
                </div>
            </div>
        </nav>
        <div id="employee-pool" class="flex py-2 px-4 text-sm uk-overflow-auto"> 
           {% include '/project/projectEmployeesPool.html' %}
        </div>

    </div>
</div>